:root {
  --primary: #ffec02;
  --secondary: #202020;
  --accent: #ff90a3;
  --bkg: #49befe;
  --bkg-light: #92d8fe;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  background-color: var(--bkg);
  caret-color: transparent;
}
.container {
  position: absolute;
  width: 320px;
  height: 320px;
  /* border: 1px solid white; */
  margin: auto;
  inset: 0;
}

.bee {
  position: relative;
  content: '';
  width: 280px;
  height: 100px;
  border-radius: 100px;
  background-color: var(--bkg-light);
  left: 20px;
  top: 60px;
  /* animation: fly 4s infinite; */
}
@keyframes fly {
  50% {
    transform: translateY(150px);
  }
}

.bee::before {
  position: absolute;
  content: '';
  width: 120px;
  height: 200px;
  background-color: var(--primary);
  background: linear-gradient(
    to bottom,
    var(--primary) 70%,
    var(--secondary) 70%,
    var(--secondary) 75%,
    var(--primary) 75%,
    var(--primary) 80%,
    var(--secondary) 80%,
    var(--secondary) 85%,
    var(--primary) 85%,
    var(--primary) 90%,
    var(--secondary) 90%,
    var(--secondary) 95%,
    var(--primary) 95%
  );
  border-radius: 120px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.eye {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top: 7px solid var(--secondary);
  border-right: 7px solid var(--secondary);
  transform: rotate(-45deg);
  top: -5px;
  left: 104px;
}
.eye::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top: 7px solid var(--secondary);
  border-right: 7px solid var(--secondary);
  top: 27px;
  left: 27px;
}
.mouth {
  position: absolute;
  width: 70px;
  height: 35px;
  border-radius: 0 0 35px 35px;
  background-color: var(--secondary);
  margin: auto;
  inset-inline: 0;
  top: 23px;
  overflow: hidden;
}
.mouth::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 10px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}
.mouth::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 15px;
  border-radius: 15px 15px 0 0;
  background-color: var(--accent);
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}
/* .antenna {
  position: absolute;
  width: 8px;
  height: 50px;
  background-color: var(--secondary);
  top: -73px;
  left: 173px;
  transform: rotate(25deg);
  z-index: -1;
}
.antenna::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 50px;
  background-color: var(--secondary);
  top: 35px;
  left: -60px;
  transform: rotate(-50deg);
}
.antenna::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondary);
  left: -6px;
  top: -7px;
  box-shadow: -79px 40px var(--secondary);
} */
.antenna {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--secondary);
  box-shadow: 80px 0 var(--secondary);
  top: -99px;
  left: 89px;
  z-index: -3;
}
.antenna::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 60px;
  background-color: var(--secondary);
  top: 10px;
  left: 50%;
  transform-origin: top;
  transform: translateX(-50%) rotate(-20deg);
}
.antenna::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 60px;
  background-color: var(--secondary);
  top: 10px;
  left: 90px;
  transform-origin: top;
  transform: translateX(-50%) rotate(20deg);
}
