:root {
  --primary: #8ebc00;
  --primaryDark: #477a26;
  --primaryLight: #c1d218;
  --primaryDeep: #234106;
  --accent: #f47b77;
  --gray: #a0a0a0;
  --bkg: #fff29e;
  --black: #222222;
  --white: #fefefe;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bkg);
  caret-color: transparent;
}
.container {
  position: absolute;
  width: 320px;
  height: 320px;
  margin: auto;
  inset: 0;
}
.face {
  position: relative;
  width: 160px;
  height: 120px;
  background-color: var(--primary);
  border-radius: 50%;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.face::before {
  position: absolute;
  content: '';
  width: 120px;
  height: 55px;
  background-color: var(--primaryLight);
  border-radius: 0 0 55px 55px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 1;
}
.face::after {
  position: absolute;
  content: '';
  width: 130px;
  height: 8px;
  background-color: var(--primaryDark);
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  top: 55px;
  z-index: 1;
}
.eyes,
.eyes::before {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--black);
  box-shadow: 0 0 0 10px var(--white), 0 0 0 16px var(--primary);
}
.eyes {
  left: 30px;
}
.eyes::before {
  content: '';
  left: 70px;
}
.body {
  position: absolute;
  width: 60px;
  height: 70px;
  background-color: var(--primaryLight);
  left: 50%;
  border-radius: 70px 70px 0 0;
  box-shadow: 0 -20px 0 20px var(--primary);
  transform: translateX(-50%);
  top: 180px;
}
.body::before,
.body::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 25px;
  background-color: var(--primary);
  top: 58px;
}
.body::before {
  border-radius: 0 16px 0 16px;
  left: -20px;
}
.body::after {
  border-radius: 16px 0 16px 0;
  left: 40px;
}
.leg-l,
.leg-r {
  position: absolute;
  width: 40px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--primaryDark);
  top: 180px;
}
.leg-l {
  left: 90px;
  transform: rotate(-30deg);
}
.leg-r {
  right: 90px;
  transform: rotate(30deg);
}
.leg-l::before,
.leg-r::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 20px;
  background-color: var(--primaryDark);
  border-radius: 40px 40px 0 0;
  bottom: 5px;
}
.leg-l::before {
  left: -20px;
  transform: rotate(30deg);
}
.leg-r::before {
  right: -20px;
  transform: rotate(-30deg);
}
.tongue {
  position: absolute;
  width: 8px;
  height: 0px;
  background-color: var(--accent);
  bottom: 55px;
  left: 70px;
  border-radius: 8px;
  transform-origin: 100% 100%;
  transform: rotate(-45deg);
  animation: tongue 3s infinite linear;
}
@keyframes tongue {
  6% {
    height: 130px;
  }
  25% {
    height: 130px;
  }
  35% {
    height: 0px;
  }
}
.tongue::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  opacity: 0;
  left: -1px;
  background-color: var(--black);
  border-radius: 50%;
  box-shadow: 7px -4px 0 var(--gray), -7px -4px 0 var(--gray);
  animation: fly 3s infinite linear;
}

@keyframes fly {
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  32% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
}
